@use "../../Foundation/mixin" as m;

.p-about {
    display:grid;
    grid-template-columns:1fr 1fr; 
    @include m.mq(sp){
        display:block;
    }
    &__img img{
        width:100%;
        max-height: 400px;
        object-fit: cover;
    }
    &__contents {
        padding:200px 50px 50px 50px;
        @include m.mq(sp){
           padding:50px 10px 50px 10px;   
        }
        &__text {
            margin-top:50px;
            line-height:2rem;
        }
    }    
}