@use "../../Foundation/mixin" as m;


.p-footer {
    height:200px;
    padding:8% 10%;
    background-color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include m.mq(sp){
        height: inherit;
        padding:50px 10px ;
        background-color: inherit;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        @include m.mq(sp){
        padding-bottom:50px;
        }
    }
    &__address {
        line-height: 2rem;
    }
}