@use "../../Foundation/mixin" as m;


.p-archive{
    padding:8% 10%;
    @include m.mq(sp){
        padding:50px 20px;
    }
    &__title {
        letter-spacing: 0.8rem;
        padding-bottom:100px;
        @include m.mq(sp){
            padding-bottom:80px;
            font-size:32px;
        }
    }
    &__contents {  
        font-size:14px;
        line-height: 2rem;
        margin:0 auto;
        &__tab {
         display:flex;
         border-bottom: 1px solid #0000;
         text-align: left;
            &__category {  //ニュース・プレスリリースは左右センター
            width:33%;
            text-align:center;
            border-bottom:2px solid #000;
            padding:20px 0;
            margin-bottom:30px;
            } 
        }
    }
}


.hover {  //タブをホバーしたとき
    border-bottom:3px solid #000;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
}


.p-archive__contents__post__wrapper {
    display:none;
}
.p-archive__contents__post__wrapper  .is-show {     
    display:block;
    font-size:14px;
    line-height: 2rem;
    text-align:left;
}

.p-archive__contents__post__detail{
    padding:30px 0 ;
    border-bottom:1px solid #ccc; 
    a {
        text-decoration: none;
        cursor:pointer;
        color:#000;
        &:hover{
            font-weight:bold;
            cursor:pointer;
        } //hover
    } //a
} //detail