@use "../../Foundation/mixin" as m;


.p-archive{  //固定ページ共通 home.phpはサブタイトルがないのでuでmargin追加
    padding-top:8%;
    padding-bottom:8%;
    margin:0 auto;
    max-width:1000px;
    @include m.mq(sp){
        padding:50px 20px;
    }
    &__title {
        letter-spacing: 0.8rem;
        padding-bottom:20px;
        @include m.mq(sp){
            padding-bottom:20px;
            font-size:32px;
        }
    }
}

.p-page__contents {  //投稿の本文に追加CSS
    line-height: 2rem;
    h2,p {
    font-size:14px;
    font-weight:normal;
    line-height: 2rem;
    padding-bottom:80px;
    } 
    .wp-block-table table{   //companyの会社概要テーブル用
        margin-top:30px;
        width:100%;
        border-collapse: collapse; //ボーダーを重ねる
        border:1px solid #000;
        td {
            padding:20px 0 20px 20px; 
            border:0.5px solid #000;
        }
    }
}



.wp-block-group__inner-container { //説明文　グループ化する
    margin:80px 0 0 auto;
    line-height: 2rem;
    @include m.mq(sp){
        margin:50px 50px 0 auto;
    }
    p{
        line-height: 2rem;
        padding-bottom:30px;
    }
    h3 { //プライバシーポリシーのページの項目
        padding-bottom:30px;
    }
    h4 { //プライバシーポリシーのページの説明文 pの代わり
        font-weight:normal;
        line-height: 2rem;
        padding-bottom:30px;
    } 
    ul { //プライバシーポリシーのリストタグ
        padding-left:30px;
        padding-bottom:30px;
    }    
}


//itemのページのメディアとテキストのスタイリング
.wp-block-media-text {
    @include m.mq(sp){
        display:flex;
        flex-direction:column-reverse; //デフォルトだと画像が上にくるので逆に
    }
    &__content {
        @include m.mq(sp){
            margin-left:-150px;  //sp時は無理やり左寄せ
        }
        h3 {
        padding:30px 0;
            @include m.mq(sp){
                padding-bottom:10px;
            }
        }
        p {
        @include m.mq(sp){
            padding-bottom:30px;
        }
        }
    }
}