@use "../../Foundation/mixin" as m;

//各セクションのタイトルまわり

.p-title{
    padding-bottom:30px; //アンダーバーと投稿間の行間
    .c-title{
        padding-bottom:20px; //Newsとニュースの行間
    }
    .c-title__sub{
            font-size:14px;
            line-height: 2rem;
            &::after{
                content:"";
                width:40px;
                height:1px;
                background-color:#000;
                display:block;
                position:absolute;
                margin-top:30px;
            }
    }
}
