@use "../../Foundation/mixin" as m;


.p-single__title {
    font-size:24px;
    font-weight:normal;
    line-height: 1.2rem;
    padding:20px 0;
}


// .p-news{
//     padding:8% 10%;
//     display:flex;
//     flex-direction:column;
//     @include m.mq(sp){
//         padding:50px 10px;
//     }
// }

// .p-news__post{
//     margin-top:50px;
//     display:flex;
//     justify-content: space-between;
//     gap:50px;
//     font-size:14px;
//     line-height: 2rem;
//     @include m.mq(sp){
//         flex-direction:column;
//     }
//     &__detail{
//         padding-left:30px;
//         border-left:1px solid #000; 
//         @include m.mq(sp){
//             border-left:none;
//             padding-left:0;
//             padding-bottom:30px;
//         }
//         &__mark{
//             display:inline-block;
//             margin-left:10px;
//             background-color:#000;
//             background-clip:padding-box;
//             padding:2px 5px;
//             line-height:1rem;
//             font-size:12px;
//             text-align:center;    
//             color:#fff;
//         }   
//     }
//     &__detail:first-child{
//         border:none;
//         padding-left:0;
//     }
//     &__detail:last-child{
//         padding-right:30px;
//     }
// }