/*共通部分---------------*/
@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    background-color:#f0f0f0 ;
    color : #000; 
    line-height : 1.0;
    min-width:320px;
    padding:0;
    margin:0;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}